* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #100b18;
    color: white;
    font-family: Arial, sans-serif;
}


.navbar {
    width: 100%;
    height: 70px;
    background: #17101f;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 40px;
    border-bottom: 1px solid #30243c;
}


.logo {
    color: #e8b94f;
    font-size: 24px;
    font-weight: bold;
}

.favorite {
    background: #21182d;
    color: white;

    border: 1px solid #40334d;
    border-radius: 20px;

    padding: 10px 20px;
    cursor: pointer;
}


.favorite:hover {
    background: #e8b94f;
    color: black;
}